{% extends 'blog/base.html' %}

{% block content %}
    <main role="main" class="containter">
        <div class="row">
            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <form method="post">{%  csrf_token %}
                    {% if user.is_authenticated %}
                        <button name='button' type="submit" value="edit" class="btn btn-outline-secondary">Edytuj</button>
                        <button name='button' type="submit" value="delete" class="btn btn-outline-secondary">Usuń</button>
                    {% endif %}
                </form>
                <p class="blog-post-meta">{{ post.created }} {{ post.author }}</p>
                <p>{{ post.text | linebreaksbr }}</p>
          </div>
        </div>
    </main>

{% endblock %}